:root{
    --color-dark-ocean-blue: #001c2a;
    --color-deep-sea-green: #2eb097;
    --color-angel-white: #fefefe;
    --color-pitch-black: #121212;
    --color-obsidian: #0d0d1a;
/* experimental colors */
    --color-experimental-dark: #13191c;
    --color-experimental-gray: #1e272c;
}
