:root{
    --border-radius-default: 0px;
    --animation-default: cubic-bezier(0.47, 0, 0, 1.01);
    --transition-default: 0.3s;
    --filter-disabled: brightness(0.6);
    --blur-default: blur(10px);
    --transition-slow: 0.8s;
   
    --fontsize-default: 12px;
    --fontsize-title: 24px;
    --fontsize-h3: 18px;
    --fontsize-h2: 20px;
}
