.test {
  background-color: #ee226655;
  outline: 1px dashed #ee2266;
  animation-name: test-anim;
  animation-duration: 10s;
  animation-direction: normal;
  animation-iteration-count: infinite;
}

@keyframes test-anim {
  0% {
    background-color: #ee226655;
    outline: 1px dashed #ee2266;
  }

  50% {
    background-color: #eb22ee55;
    outline: 1px dashed #9df2ff;
  }

  100% {
    background-color: #ee226655;
    outline: 1px dashed #ee2266;
  }

}

.rgb {
  background-color: #ff0000;
  animation-name: rgb-anim;
  animation-duration: 10s;
  animation-direction: normal;
  animation-iteration-count: infinite;
}

@keyframes rgb-anim {
  0% {
    background-color: #ff0000;
  }

  30% {
    background-color: #00ff00;
  }

  60% {
    background-color: #0000ff;
  }

  100% {
    background-color: #ff0000;
  }
}
