:root {
    --color-app-background: var(--color-dark-ocean-blue);
    --color-icons: var(--color-angel-white);
    --color-watermarks: var(--color-);

    --font-small: var(--font-size-12);
}

p, div {
font-family: Roboto;
color: var(--color-angel-white);
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

label {
    font-family: Roboto;
    color: var(--color-angel-white);
}

h1 {
    margin-block-end: 10px;
}


