/* navigation css */

.header {
    width: calc(100% - var(--padding-main-page)*2);
    max-width: var(--maxWidth-app);
    height: var( --height-header);
    padding: var(--padding-main-page);
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
}

.icon-emptysoul_logo_font_05032020 {
    fill: var(--color-third);
    width: 50%;
    max-height: 24px;
    min-width: 160px;
}

.icon-empty_soul_logo2020 {
    fill: var(--color-third);
    width: 24px;
    display: none;
}

/* Small Mobile Devices */
@media only screen and (max-width: 380px) {

    .header {
        width: calc(100% - var(--padding-main-page--small)*2);
        padding: var(--padding-main-page--small);
        height: var( --height-header--small);
    }
  
  }

/* Super Small Mobile Devices */
@media only screen and (max-width: 320px) {

    .icon-emptysoul_logo_font_05032020 {
        display: none;
    }

    .icon-empty_soul_logo2020 {
        display: block;
    }
}