.home-soultree {
    display: grid;
    padding-top: 30px;
    justify-content: center;
}

/* Small Mobile Devices */
@media only screen and (max-width: 380px) {

    .home-soultree {
        padding-top: 0px;
    }
  
  }