@import './assets/css/index.css';
.App {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--color-app-background);
}

.App-Container{
  width: 100%;
  height: 100%;
  max-width: 600px;
}

.Picture{
  background-image: url('../public/Steve.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
  width: 100%;
  height: 70%;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}

.Picture-Text{
  width: 50%;
  display: flex;
  flex-flow: column;
  padding: 0 35px;
}

.Picture-Text p{
  font-size: 20px;
  word-break: break-word;
}

.Main-Content {
  background: linear-gradient(transparent, #021c2a);
  height: 100%;
  display: flex;
  justify-content: flex-end;
  flex-flow: column;
  padding-bottom: 50px;
}

.Logo-Container{
  padding-left: 35px;
  display: none;
}

.App-Bottom-Container{
  width: calc(100% - 70px);
  height: calc(30% - 70px);
  align-self: end;
  display: flex;
  flex-flow: column;
  padding: 35px;
  justify-content: space-between;
}

.Buttons-Container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 463px) {
  .Picture-Text {
    width: calc(100% - 70px);
  }
}

