@import './assets/css/index.css';
@import './themes/EmptySoulDark/style.css';


.App {
  justify-content: center;
}

main {
  width: 100%;
  max-width: 1200px;
  background-color: var(--color-main);
  padding: 0px 30px;
}
