/* Menu css */

.Menu {
    width: 24px;
    height: 24px;
    flex-flow: column;
    cursor: pointer;
}

.Menu-Line {
    background-color: var(--color-third);
    height: 2px;
    width: 100%;
    margin: 2px 0px;
}

.Menu-Line-1 {
    width: 12px;
    align-self: flex-end;
    transition: var(--transition-default);
}

.Menu-Line-3 {
    width: 12px;
    align-self: flex-start;
    transition: var(--transition-default);
}


/* Hover Animations only for desktop */
.Menu:hover .Menu-Line-1 {
width: 100%
}

.Menu:hover .Menu-Line-3 {
    width: 100%
}